body {
  font-size: 18px;
  font-family: "Droid Sans", "Helvetica", "Arial" sans-serif;
}
textarea.form-control,
.syntax-table>tbody>tr>td,
pre, code {
  font-family: "Droid Sans Mono", "Ubuntu Mono", monospace;
}
p {
  color: #444;
  line-height: 1.9;
}
textarea.form-control{
  background: #1a1018;
  color: white;
  font-size: 15px;
  min-width: 100%;
  max-width: 100%;
  min-height: 5em;
  max-height: 60em;
}
h2 {
  margin-top: 1em;
}
pre {
  font-size: 15px;
}
a {
  color: #a11;
}
a:hover {
  color: #d33;
}
.top-stripe {
  background: #a11;
  border-bottom: 10pt solid #ddd;
}
.title-box {
  padding: 2em 0;
}
.title-box h1 {
  margin: 0;
  font-size: 250%;
  color: white;
}
.title-box h2 {
  color: white;
  opacity: .6;
  margin: 0;
  font-size: 130%;
}
.title-box .media-body {
  margin-top: 1em;
}
.logo {
  height: 6em;
}
.container {
  max-width: 600pt;
}
.content-box {
  padding-bottom: 4em;
}
.form-control:focus {
  box-shadow: none;
}
.syntax-table>tbody>tr>td {
  font-size: 80%;
  width: 50%;
  border-color: #888;
}
.syntax-table>tbody>tr>th {
  background: #1a1018 !important;
  color: white;
  border-color: #888;
}
.footer-stripe {
  background: #eee;
  border-top: 1px solid #aaa;
}
.footer p {
  margin: 2em 0;
  color: #888;
  font-size: 80%;
  text-align: center;
}
.footer a {
  color: #888;
}