body {
  font-size: 18px;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
}
textarea.form-control,
.syntax-table>tbody>tr>td,
pre, code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
}
p {
  color: #444;
  line-height: 1.9;
}
h2, h3 {
  margin-top: 1em;
  font-weight: 400;
}
a {
  color: #a11;
}
a:hover {
  color: #d33;
}
strong {
  font-weight: 500;
}
::selection {
  color: white;
  background: #a11;
}
::-moz-selection {
  color: white;
  background: #a11;
}
.top-stripe ::selection {
  color: #a11;
  background: white;
}
.top-stripe ::-moz-selection {
  color: #a11;
  background: white;
}
.top-stripe {
  background: #a11;
  border-bottom: 10pt solid #ddd;
  overflow: hidden;
}
.title-box {
  padding: 2.8em 0;
  position: relative;
}
.title-box h1, .title-box h2 {
  margin: 0;
  color: white;
  font-weight: 300;
}
.title-box h1 {
  font-size: 250%;
}
.title-box h2 {
  font-size: 130%;
  opacity: .6;
}
.title-box .media-body {
  margin-top: 1em;
}
.logo {
  height: 6em;
}
.container {
  max-width: 38em;
}
.content-box {
  padding-bottom: 4em;
}
.demo {
  padding: 1em .1em;
}
.demo div {
  padding: .5em;
}
textarea.form-control{
  background: #fafafa;
  font-size: 15px;
  padding: .3em .5em;
  min-width: 100%;
  max-width: 100%;
  min-height: 5em;
  max-height: 60em;
}
.form-control:focus {
  box-shadow: none;
}
.syntax-table>tbody>tr>td {
  width: 50%;
}
.syntax-table>tbody>tr>th {
  background: #ddd !important;
  font-weight: 500;
}
.footer-stripe {
  background: #eee;
  border-top: 1px solid #ccc;
}
.footer p {
  margin: 2em 0;
  color: #888;
  font-size: 80%;
  text-align: center;
}
.footer a {
  color: #888;
}
