body {
	font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
}
.syntax-table > tbody > tr > td,
pre,
code {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 16px;
}
p {
	line-height: 1.9;
	color: #444;
}
h2,
h3 {
	font-size: 180%;
	font-weight: 300;
	margin: 1em 0 .5em;
}
a {
	color: #a11;
}
a:hover {
	color: #d33;
}
a:focus {
	color: #600;
}
strong {
	font-weight: 500;
}
.nav > li > a {
	margin: 0 -15px;
}
::selection {
	color: white;
	background: #a11;
}
::-moz-selection {
	color: white;
	background: #a11;
}
.top-stripe ::selection {
	color: #a11;
	background: white;
}
.top-stripe ::-moz-selection {
	color: #a11;
	background: white;
}
.top-stripe-box {
	overflow: hidden;
	border-bottom: 10pt solid #ddd;
}
.top-stripe {
	position: relative;
	background: #a11 url('background.jpg') 0 center;
	background-size: cover;
}
.title-box {
	padding: 2.8em 0;
}
.title-box h1,
.title-box h2 {
	font-weight: 300;
	margin: 0;
	color: white;
}
.title-box h1 {
	font-size: 250%;
}
.title-box h2 {
	font-size: 130%;
	opacity: .6;
}
.title-box .media-body {
	margin-top: 1em;
}
.logo {
	width: 4.3em;
	height: 6em;
	background: url('logo.svg') no-repeat;
	background-size: contain;
}
.container {
	max-width: 38em;
}
.content-box {
	padding-bottom: 4em;
}
.demo {
	display: none;
	padding: 1em .1em;
}
.js .demo {
	display: block;
}
.demo > div {
	padding: .5em;
}
.CodeMirror {
	font-size: 14px;
	width: 100%;
	height: 23em;
	padding: .3em .5em;
	cursor: text;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fafafa;
}
.CodeMirror-focused {
	border-color: #f88;
}
div.cm-s-solarized span.CodeMirror-matchingbracket {
	color: #a11;
}
.cm-s-solarized .cm-tab:before {
	display: none;
}
.cm-s-solarized.CodeMirror {
	background: #ffffea;
	box-shadow: inset 0 0 4px -2px #888;
}
.syntax-table > tbody > tr > td {
	width: 50%;
}
.syntax-table > tbody > tr > th {
	font-weight: 500;
	background: #ddd !important;
}
.footer-stripe {
	border-top: 1px solid #ccc;
	background: #eee;
}
.footer p {
	font-size: 80%;
	margin: 2em 0;
	text-align: center;
	color: #888;
}
.footer a {
	color: #888;
}

@media (max-width: 550px) {
	body {
		font-size: 16px;
	}
	.syntax-table > tbody > tr > td,
	pre,
	code {
		font-size: 14px;
	}
	.title-box h1 {
		font-size: 160%;
	}
	.title-box h2 {
		font-size: 120%;
	}
}
